/* -------------------------------------
CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules bellow)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    /* Typography Decorations*/
    color: #222222;
    font-size: 1em;
    font-family: "open sans", "Helvetica Neue", "sans-serif";
}

p {
    text-indent: 35px;
}

.about-me > p,
.core-values > p,
.hobbies > p,
.content-footer > p {
    /*Typography Decorations*/
    font-weight: 300;
    letter-spacing: 0.05em;
}


/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

.masthead {
    padding: .1em 0;
    height: 300px;
    background-position: bottom center;
    background-image: url('http://i.imgur.com/Xv8AMIF.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-top: solid 1em #FFCF33;
    color: orange;
    text-align: center;
}

.masthead .masthead-intro {
    margin-top: 2rem;
    margin-bottom: 0.1em;
    font-family: "open sans", Georgia, serif;
    font-size: 2em;
    text-indent: 0;
    color: #FFCF33;
    text-shadow: 0px 3px 4px black;
}

.masthead .masthead-heading {
    margin-top: 0rem;
    font-family: "open sans", Georgia, serif;
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFCF33;
    text-shadow: 0px 3px 4px black;
}

.masthead #header-image {
    border: 3px solid black;
    position: absolue;
    text-align: center;
    width: 100%;
    color: grey;
}

#header-bottom-border {
    border: 10px solid #FFCF33;
    padding: 1em;
    background-color: orange;
}

#header-left-border {
    border: 5px solid #FFCF33;
    position: absolute;
    top: .5em;
    left: 0%;
    height: 63em;
    width: 5px;
    background-color: #FFCF33;
    padding: 1em 0;
}

#header-right-border {
    border: 5px solid #FFCF33;
    position: absolute;
    top: .5em;
    right: 0%;
    height: 63em;
    width: 5px;
    background-color: #FFCF33;
    padding: 1em 0;
}


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

.about-me,
.core-values,
.hobbies,
.dream-job {
    max-width: 50em;
    margin-left: 15%;
    margin-right: auto;
    font-size: 1.3rem;
}

.about-me h2,
.core-values h2,
.hobbies h2,
.dream-job h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.about-me #about-image {
    background: 3px solid blue;
    width: 300px;
    color: blue;
}

.core-values #core-image {
    background: 3px solid blue;
    width: 200px;
    color: blue;
}

.hobbies #hobbies-image {
    background: 3px solid blue;
    width: 300px;
    color: blue;
}


/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

.content-footer {
    /* Red, Green, Blue: #RRGGBB */
    background-color: #FFCF33;
    text-align: center;
}

.content-footer .say-hi {
    text-indent: 0;
}

.content-footer .social > li {
    display: inline-block;
}


/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles bellow this line
*/

@media (max-width: 1420px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading h1 {
        font-size: 3rem;
    }
    #about-image,
    #core-image,
    #hobbies-image {
        display: none;
    }
}
